html {
    scroll-behavior: smooth;
}

.sectionImage {
    position: relative;
    left: -10%;
    top: 10%;
    z-index: -1;
}

.headers {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

#universityProjectsSection {
    position: relative;
    padding-left: 5%;
}

#sideProjectsSection {
    position: relative;
    padding-left: 5%;
}

@media screen and (max-width: 770px) {
    .sectionImage {
        display: none !important;
    }
}