html {
    scroll-behavior: smooth;
}

.sectionImage {
    position: relative;
    top: 20px;
    right: 50px;
    z-index: -1;
}

.headers {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

#universityProjectsSection {
    position: relative;
    padding-left: 5%;
}

#sideProjectsSection {
    position: relative;
    padding-left: 5%;
}