html {
    scroll-behavior: smooth;
}

#imageOfMe{
    position: relative;
    width: 250px;
    height: 325px;
    top: 20px;
    left: 35%;
    z-index: -2;
}

#aboutMeText {
    position: relative;
    left: 5%;
}

.sectionImage {
    position: relative;
    top: 20px;
    right: 50px;
    z-index: -1;
}

.headers {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

#universityProjectsSection {
    position: relative;
    padding-left: 5%;
}

#sideProjectsSection {
    position: relative;
    padding-left: 5%;
}