.contact-icons {
    width: 15%;
    display: inline-block;
}

.contact-icons-text{
    position: relative;
    display: block;
    left: -5%;
}

#LinkedIn{
    position: relative;
    left: 5%
}

#GitHub{
    position: relative;
    left: 5%;
}

#contactSection {
    position: relative;
    padding-left: 5%;
    padding-bottom: 5%;
}