nav {
    background-color: #ec8aab;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container {
    padding-top: 2%;
    padding-bottom: 1%;
    margin: 0 0;
    text-align: center;
}

.container ul li {
    list-style: none;
    margin: 0 1.5%;
    margin-bottom: 2%;
    display: inline-block;
}

.container ul li a:hover {
    padding: 5px;
    color: #fc0;
}

.container ul li a {
    margin: 2px;
    padding: 5px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.activeNavbar {
    border-bottom: 2px solid #fde102;
    background-color: #60975b;
}

.container p{
    margin-bottom: 16px;
    color: #fc0;
    font-weight: 700;
    font-size: 20px;
}

#hamburgerBarsIcon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .container {
        position: sticky;
        top: 0;
    }
    .container ul li:not(:first-child) {display: none;}
    .container ul li:is(:first-child) {position: relative; left: -4%}
    #hamburgerBarsIcon {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    #hamburgerBarsIcon {
        position: fixed;
        right: 5%;
        top: 4%;
    }
    .topnav.responsive ul li {
        position: relative;
        float: none;
        display: block;
        padding: 2%;
        text-align: center;
        left: -4%;
    }
}