#welcomeSection {
    position: relative;
    background-color: #e8c8ec;
    z-index: -2;
    padding-top: 12rem;
    height: 120vh;
}

#bannerImage {
    position: relative;
    z-index: -1;
    height: 60%;
    width: auto;
    left: 15%;
    top: 5%;
}

#hello {
    position: relative;
    font-size: 4vw;
    top: 20%;
    left: 10%;
}

#welcome {
    position: relative;
    font-size: 2.5vw;
    top: 20%;
    left: 20%;
}

@media screen and (max-width: 700px) {
    #welcomeSection {
        padding-top: 2rem;
    }
    #hello {
        display: block;
        left: 5%;
        right: 0;
        font-size: 7vw;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #welcome {
        display: block;
        font-size: 4vw;
        left: 15%;
        right: 0;
        top: 0;

        padding-top: 2%;
        padding-bottom: 2%;
    }
    #bannerImage {
        display: block;
        left: 20%;
        right: 0;
        top: 0;

        padding-top: 2%;
    }
}