#banner {
    position: relative;
    background-color: #bf3bd4;
    padding: 50px;
    z-index: -2;
}

#bannerText {
    position: relative;
    text-align: center;
}

#bannerImage {
    position: absolute;
    top: -10px;
    z-index: -1;
    padding: 35px;
}

#bannerImageText {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #f9a9f2;
}

#hello {
    font-size: 50px;
}

#imageOfMe{
    position: relative;
    width: 250px;
    height: 325px;
    top: 40px;
    right: -200px;
}

#aboutMe {
    padding: 50px;
}