html {
    scroll-behavior: smooth;
}

#imageOfMe{
    position: relative;
    width: 250px;
    height: 325px;
    top: 20px;
    left: 150px;
    z-index: -2;
}

.sectionImage {
    position: relative;
    top: 20px;
    right: 50px;
    z-index: -1;
}

.headers {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

.contact-icons {
    width: 8%;
    display: inline-block;
}

.contact-icons-text{
    position: relative;
    display: block;
    left: -10%;
}

#LinkedIn{
    position: relative;
    left: 20%;
}

#GitHub{
    position: relative;
    left: 20%;
}