#banner {
    position: relative;
    background-color: #bf3bd4;
    padding: 50px;
    z-index: -2;
}

#bannerText {
    position: relative;
    text-align: center;
}

#bannerImage {
    position: relative;
    top: 5px;
    z-index: -1;
    height: 150px;
}

#hello {
    position: relative;
    font-size: 50px;
    left: -110px;
}

#welcome {
    position: relative;
    left: -100px;
}

#imageOfMe{
    position: relative;
    width: 250px;
    height: 325px;
    top: 20px;
    right: -260px;
}

#aboutMe {
    position: relative;
    padding: 50px;
}

#aboutMeText {
    position: relative;
    top: 40px;
}

.logos {
    height: 80px;
    width: 80px;
    padding: 20px;
}